<!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">{{ perfil.nombre }}</h1>
                <span class="footer__subtitle">{{ perfil.cargo }}</span>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="#proyectos" class="footer__link">Proyects</a>
                </li>
                <li>
                    <a href="#proyectos" class="footer__link">Portafolio</a>
                </li>
                <li>
                    <a href="#contact" class="footer__link">Contacme</a>
                </li>
            </ul>
            
            <div class="footer__socials">
                <a href="{{ perfil.instagram }}" class="footer__social">
                    <i class="uil uil-instagram"></i>
                </a>
                <a href="{{ pergil.telegram }}" class="footer__social">
                    <i class="uil uil-telegram"></i>
                </a>
            </div>
        </div>

        <p class="footer__copy">&#169 Elvis Burgos derechos reservados</p>

    </div>
</footer>